{% extends "website/base.html" %}

{% block content %}
    <h1 id="Ex">Executives</h1>
    <div class="row">
            <div class="column">
                <h2>Bill gates</h2>
                <img src="/static/img/bill-gates.jpeg" alt="executive image" width="250" height="300">
                <P>Designation:Founder</P>
            </div>
            <div class="column">
                <h2>Sundar Pichai</h2>
                <img src="/static/img/sundar.PNG" alt="executive image" width="250" height="300">
                <p>Designation: Chief Executive Officer (CEO)</p>
            </div>
            <div class="column">
                <h2>Emma watson </h2>
                <img src="/static/img/emma.PNG" alt="executive image" width="250" height="300">
                <p>Designation: Chief Financial Officer</p>
            </div>
            <div class="column">
                <h2>Robert Drowney JR </h2>
                <img src="/static/img/robert.PNG" alt="executive image" width="250" height="300">
                <p>Designation: Director of Engineering Sector</p>
            </div>
            <div class="column">
                <h2>Scarlett johanson </h2>
                <img src="/static/img/scarlett.PNG" alt="executive image" width="250" height="300">
                <p>Designation: Director of Technical Sector</p>
            </div>
            <div class="column">
                <h2>Chris evans </h2>
                <img src="/static/img/chris.PNG" alt="executive image" width="250" height="300">
                <p>Designation: Director of Safety and Security</p> 
            </div>
    </div>
{% endblock  %}
