{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1 style="text-align: center;">
        <strong>Our Premium Products</strong>
    </h1>
    <br>
    <br>
    <br>
    <br>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
                <a href="https://www.amazon.in/DATA-Premier-2666Mhz-A1Price-A1Products/dp/B07GRFYM22/">
            <img src="/static/img/c1.PNG" alt="product image" width="150" height="100">
            </a>
            </div>
           <div class="itemname"><b>4GB DDRA4 laptop memory</b></div>
           <div class="itemprice"><b>Price: Rs.1698.00</b> </div>
           <br>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
                <a href="https://www.amazon.in/Western-Digital-WD10EZEX-Desktop-7200rpm/dp/B0711YN12S/">
            <img src="/static/img/hdd.png"  alt="product image" width="150" height="100">
            </a>
            </div>
         <div class="itemname"><b>Western Digital HDD WD10EZEX 1TB SATA 6Gb/s Desktop 7200rpm 64MB Cache Bare Drive</b></div>
            <div class="itemprice"><b>Price: Rs.3559.00 </b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <a href="https://www.amazon.in/MSRKart-OPTICAL-LIQUID-LEVEL-SENSOR/dp/B08KF4P9DZ/">
            <img src="/static/img/levelsensor.png" alt="product image" width="150" height="100">
            </a>
            </div>
           <div class="itemname"><b>Optical liquid level sensor</b></div>
           <div class="itemprice"><b>Price: Rs.2395.00</b></div>
        </div>
        <hr/>
        <br/>
        <br/>
        <div class="productitem">
            <div class="itemimage">
                <a href="https://www.amazon.in/Crucial-BX500-240GB-2-5-inch-CT240BX500SSD1/dp/B07G3YNLJB/">
            <img src="/static/img/harddrive.jpg" alt="product image" width="150" height="100">
            </a>
            </div>
          <div class="itemname"><b>SATA HDD DRIVE</b></div>
          <div class="itemprice"><b>Price: Rs.2500.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage"><a href="https://www.amazon.in/SanDisk-Class-Memory-Adapter-SDSQUAR-032G-GN6MA/dp/B073JWXGNT/">
            <img src="/static/img/mchip.jpg" alt="product image" width="150" height="100">
            </a>
            </div>
          <div class="itemname"><b>SanDisk 32GB Class 10 Micro SDHC Memory Card with Adapter (SDSQUAR-032G-GN6MA)</b></div>
         <div class="itemprice"><b>Price: Rs.399.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage">
                <a href="https://www.amazon.in/JAIN-AUTOMATION-Inductive-Proximity-Sensor/dp/B07RBF2JRS/">
            <img src="/static/img/sensor.png" alt="product image" width="150" height="100">
            </a>
            </div>
           <div class="itemname"><b>Proximity sensor</b></div>
          <div class="itemprice"><b>Price: Rs.280</b></div>
        </div>
        <hr/>
        <br/>
        <br/>
        <div class="productitem">
            <div class="itemimage">
                <a href="https://www.amazon.in/Helea-Appliances-Compatible-Google-Assistant/dp/B07XTF8HPP/">
            <img src="/static/img/switch.jpg" alt="product image" width="150" height="100">
            </a>
            </div>
          <div class="itemname"><b>Helea 10A Wi-Fi Smart Plug, for Low Power Appliances (Type D) Compatible with Alexa & Google Assistant</b></div>
          <div class="itemprice"><b>Price : Rs.899.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage"><a href="https://www.amazon.in/Robodo-Electronics-MO49-Measuring-Counter/dp/B0787HRQ27">
            <img src="/static/img/sensorgroove.png" alt="product image" width="150" height="100">
            </a>
            </div>
          <div class="itemname"><b>Robodo MO49 Speed Measuring Sensor Counter Motor Test Groove Coupler Module for Arduino</b></div>
          <div class="itemprice"><b>Price : Rs.204.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage"><a href="https://www.amazon.in/Western-Digital-WDS240G2G0A-240GB-Internal/dp/B076Y374ZH/">
            <img src="/static/img/sata.jpg" alt="product image" width="150" height="100">
            </a>
            </div>
           <div class="itemname"><b>Western Digital WD Green 240 GB 2.5 inch SATA III Internal Solid State Drive (WDS240G2G0A)</b> </div>
           <div class="itemprice"><b>Price : Rs.2524.00</b></div>
        </div>
        <hr/>
        <br/>
        <br/>
        <div class="productitem">
            <div class="itemimage"><a href="https://www.amazon.in/ASUS-ZenWiFi-AX-XT8-BLACK/dp/B084CGXVMZ/">
            <img src="/static/img/wifi2.png" alt="product image" width="150" height="100">
            </a>
            </div>
          <div class="itemname"><b>ASUS ZenWiFi</b></div>
          <div class="itemprice"><b>Price : Rs.48490.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage"><a href="https://www.amazon.in/D-Link-DIR-819-Wireless-AC750-Router/dp/B07SBTGP16/ref=sr_1_1?dchild=1&keywords=D-link+Dir-819+750+Mbps+Router&qid=1610277157&sr=8-1">
            <img src="/static/img/broadband.webp" alt="product image" width="150" height="100">
            </a>
            </div>
           <div class="itemname"><b>D-link Dir-819 750 Mbps Router</b></div>
          <div class="itemprice"><b>Price : Rs.1,399.00</b></div>
        </div>
        <div class="productitem">
            <div class="itemimage"><a href="https://www.amazon.in/2-5-inch-Internal-Solid-State-WDS100T2B0A/dp/B073SBQMCX/">
            <img src="/static/img/ssd.jpg" alt="product image" width="150" height="100">
            </a>
            </div>
           <div class="itemname"><b>Western Digital Blue 1TB Internal Solid State Drive</b></div>
           <div class="itemprice"><b>Price :Rs.13,985.00</b></div>
        </div>
    </div>
    </div>
{% endblock  %}